* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", serif;

/*   
  border: 1px solid rgb(81, 255, 0);
*/
  
}

:root {
  --white: #FFFFFF;
  --white-secondary:#DDDDDD;
  --white-faded-1: #6E6E6E;
  --white-faded-2: #c0c0c0;
  --black: #111111;
  --black-fade: #212529;
  --black-fade-alternative: #333333;

  /*--black-fade:#343A40;*/
  
  --navbar-black: #222526c2;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}


/*starts here*/
.NavBar {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.NavBar-content {
  width: 100%;
  min-height: 70px;
  background-color: var(--navbar-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*Nav bar blur*/
  backdrop-filter: blur(5px);
}

.NavBar-logo {
  padding-left: 20px;
  height: 50px;
  transition: filter 0.1s ease-out;
}

/*glow effect for logo*/
.NavBar-logo:hover {
  filter: drop-shadow(0 0 10px var(--white));
}

.NavBar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/* button */
.btn {
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
}

/*Glow effect on hover for buttons*/
.btn-glow {
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  transition-duration: 0.1s;
}

.btn-glow:hover {
  box-shadow: 0 0 5px var(--white);
  text-shadow: 0 0 5px var(--white);
}

hr {
  width: 95%;
  margin: 30px;
  border-color: var(--white-faded-1);
}


/*  project cards */

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 90vw;

}

.card-items {
  background-color: var(--navbar-black);
  border: 1px solid var(--white-faded-1);
  border-radius: 5px;
  width: 300px;
  padding: 20px;
  text-align: left;
  transition: border 0.1s ease-out, box-shadow 0.1s ease-out, transform 0.1s ease-out;

}

.card-items:hover {
  border: 1px solid var(--white-faded-2);
  box-shadow: 0 0 8px var(--white-faded-1);
  transform: translateY(-2px);
}

.card-items h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--white);
}

.card-items p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--white-secondary);
}

.card-items ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.card-items ul li {
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: var(--white-faded-2);
}


.bubble-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.bubble-icons span {
  background-color: var(--black-fade-alternative);

  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  color: var(--white-faded-2);
  
}

/*pages*/
body {
  background-color: var(--black);
}

.main {
  position: relative;
  top: 0px;
  min-height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

/* first */
.page-first {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 90vh;

}

.page-first-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 100px 0;

}

.page-first-img {
  background-repeat: no-repeat;
  width: 480px;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
}

/* to avoid clipping outside the screen */
@media(max-width:900px){
  .page-first-img{
    max-width: 90vw;
    margin-top: 70px;
  }
  .page-first-text span{
   font-size: 1.7em;
  }
  .profile-name{
   font-size: 2.7em;
  }
}

.page-first-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
}

.page-first-discription {
  margin-bottom: 10px
}

span {
  color: #c0c0c0;
  font-size: 2em;
}

.profile-name {
  color: var(--white);
  font-size: 3em;
  font-weight: bold;
}

/* second */

.page-second {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page-second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 90%;
}

.page-second-content span {
  color: var(--white);
  font-weight: 700;
  text-decoration: underline;
}

.page-second-content p {
  color: var(--white-secondary);
  padding: 10px 20px;
  font-size: 1.2em;
  max-width: 80%;
  text-align: center;
}

.page-third {

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-third-content {

  min-height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-third-content span {
  color: var(--white);
  font-weight: 700;
  text-decoration: underline;

}

.page-fourth{

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-fourth-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-fourth-content #span{
  color: var(--white);
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}


/* skill card */

.skill-container {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px;

}

.card {
  background: var(--black);
  border: 1px solid var(--white);
  border-radius: 6px;
  width: 200px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px var(--white-faded-1);
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--white);
}

.card p {
  margin: 10px 0;
  color: var(--white-faded-2);
}

/* contact form */

/* form */

 .form-container{
      background-color: var(--black);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items:center;
      padding: 30px 30px 10px 30px;
      
    }
    .form-container h1{
      color:var(--white);
      font-weight: 700;
      display: inline-block;
      margin: 20px 0;
      width: 200px;
     
    }
    form{
      display: flex;
      flex-direction: column;
      margin: 10px;
      min-width: 300px;
    }
    @media(min-width:580px){
      form{
        min-width: 300px;
      }
    }
    @media(min-width:900px){
      form{
        min-width: 800px;
      }
    }

    .formInput{
      padding-top: 10px;
      margin-top: 10px;
      color: white;
      background: transparent;
      border-top: none;
      border-left:none;
      border-right: none;
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
      outline: none;
      font-weight: 600;
    }
    
    .formInput:focus{
      border-bottom: 2px solid var(--white);
    }
    
    .formInput::placeholder{
      color:var(--white-faded-2);
    }
    .formInput:focus::placeholder {
      color: var(--white);
    }

    .form-back-btn{
      display: flex;
      justify-content: start;
      width: 100%;
      
    }
  
    
    .formBtnDiv{
      display: flex;
      justify-content: end;
      margin-top: 20px;
    }

    .formBtnDiv input{
      min-width: 60px;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
    }

    /* captcha verification box */

    .recaptcha{
      margin-top: 15px;

    }


    
    /* footer */

 
    footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      /* position: absolute; */
      background-color: var(--navbar-black);
      width: 100%;
      bottom: 0px;
      margin-top: 20px;
      padding-top: 20px;
    }
    
    footer .footer-content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px;
      min-width: 75%;
    }

    @media(max-width:900px){
     
      footer .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    }

    footer .footer-btn{
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    footer .quote{
      color: var(--white-faded-2);
      margin: 20px 0;
      font-size: 1.2em;
      font-family: cursive;
      transition: text-shadow 0.1s ease-out;
    }
    
    footer .quote:hover{
      text-shadow: 0 0 10px var(--white);
    }
    
    footer .link-container{
      padding: 10px;
      position: relative;
    }

    
    footer .link-container::before{
      content: "";
      border: 1px solid var(--white-faded-1);
      display: block;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: -10px;

    }
    footer .link-container span{
      color: var(--white);
    }

    footer ul{
      list-style: none;
    }
    footer li{
      padding: 15px 0;
    }
    
    footer .link-container .links{
      position: relative;
    }

    footer .link-container a{
      color: var(--white);
      text-decoration: none;
    }

    footer .link-container img{
      width: 40px;
      margin-right: 10px;
      vertical-align: middle;

    }

    footer .copyright{
      margin: 20px 0;
      color: var(--white-faded-1);
      
    }
    
    footer .copyright a{
      text-decoration: none;
      color: var(--white-faded-1);
    }
    
    /* error page*/
    
    .error-container{
        min-height: 100vh;
        /* background-color: #ebf4f6; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Kanit", serif;
    }
    .error-main{
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 900;
    }

  
    .error-message{
        color: var(--white-faded-1);
        padding: 10px;
        max-width: 50rem;
        margin-bottom: 10px;
    }
    
    /* success page */
    .success-container{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .success-main{
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 900;
        margin-bottom:0px;
    }

    .success-message{
        color: var(--white-faded-1);
        padding: 10px;
        max-width: 50rem;
        margin-top:0;
        margin-bottom:10px;
    }
    


    